// AboutUs Page

.aboutUsContainer{
  .logoAboutusHidden{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
   .bioParagraph{
     padding: 10px 20px;
   }
   .logoAboutus{
     width: 200px;
     margin-top: -40px;
     margin-left: 15px;
   }
}
