// Artists Page
.artistsMenuContainer {
  .artistsMenu {
    padding: 5px;
    margin-right: 50px;
    li {
      padding: 0 10px;
      line-height: 20px;
      list-style-type: none;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
      border-top: 1px solid rgb(139, 139, 139);
      a{
        display: block;
        width: auto;
        height: auto;
        color: #000;
        padding-left: 10px;
      }
    }
  }
}
.artistBio{
  background-color: rgb(210, 212, 211);
  padding: 30px;
  .artistImg{
    height: 120px;
    border: 5px solid rgb(152, 152, 152);
    border-radius: 5px;
  }
  .imgBackLine{
    margin: 0;
    padding: 0;
    position: relative;
    top: 65px;
    border-width: 3px;
    border-color: rgb(152, 152, 152);
  }
  .nameUnderLine{
    margin: 0;
    padding: 0;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
  }
}