// Exhibitions Page
.ExhibitionsContainer{
  .exhibitionMenu{
    padding: 5px;
    li{
      padding: 0 10px;
      line-height: 25px;
      list-style-type: none;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
      border-top: 1px solid rgb(139, 139, 139);
      a{
        display: block;
        width: auto;
        height: auto;
        color: #000;
        padding-left: 10px;
      }
    }
    .menuTitle{
      cursor: inherit;
      padding: 1px 5px;
      background-color: #eee;
    }
  }
  .exhibitionThumbnails{
    height: 120px;
    margin: 5px;
  }
  .exhibitionDetails{
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
    border-radius: 5px;
  }
  .mainImage{
    margin: 10px 0;
  }
}
