// Layout Page
body{
  background-color: #F1F0EF !important;
}
.borderInspect {
  // border: 1px solid rgb(0, 255, 255);
}
.container {
// min-width: 300px;
}
.centerText{
  text-align: center;
}
.fullHeight{
  height: 100%;
}

a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  background-color: rgb(231, 231, 231) !important;
}

.footerDiv{
  background-color: rgb(177, 177, 177);
  p{
    line-height: 35px;
    margin: 0;
  }
}
