// Layout Page
.borderInspect {
  // border: 1px solid rgb(0, 255, 255);
}
.container {
// min-width: 300px;
}
.centerText{
  text-align: center;
}
.fullHeight{
  height: 100%;
}

a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  background-color: rgb(231, 231, 231) !important;
}
