.artistsMenuContainer {
  max-height: 450px;
  overflow-y: scroll;
  min-width: 200px;
  text-align: left; }
  .artistsMenuContainer .artistsMenu {
    padding: 5px; }
    .artistsMenuContainer .artistsMenu li {
      padding: 5px;
      line-height: 30px;
      list-style-type: none;
      background-color: #b1b1b1;
      cursor: move; }
    .artistsMenuContainer .artistsMenu li:hover {
      background-color: white; }

.artistBio {
  background-color: #d2d4d3;
  padding: 30px; }

@media (max-width: 750px) {
  .artistsMenuContainer {
    height: 250px; } }
