.artistsMenuContainer .artistsMenu {
  padding: 5px;
  margin-right: 50px; }
  .artistsMenuContainer .artistsMenu li {
    padding: 0 10px;
    line-height: 20px;
    list-style-type: none;
    background-color: white;
    cursor: pointer;
    border-top: 1px solid #8b8b8b; }
  .artistsMenuContainer .artistsMenu li:hover, .artistsMenuContainer .artistsMenu li:focus, .artistsMenuContainer .artistsMenu li:active {
    background-color: #adadad; }

.artistBio {
  background-color: #d2d4d3;
  padding: 30px; }
  .artistBio .artistImg {
    height: 120px;
    border: 5px solid #989898;
    border-radius: 5px; }
  .artistBio .imgBackLine {
    margin: 0;
    padding: 0;
    position: relative;
    top: 65px;
    border-width: 3px;
    border-color: #989898; }
  .artistBio .nameUnderLine {
    margin: 0;
    padding: 0;
    border-width: 2px;
    border-color: red; }
