.ExhibitionsContainer .mainRow {
  margin: 0;
  padding: 0; }

.ExhibitionsContainer .exhibitionMenu {
  padding: 5px; }
  .ExhibitionsContainer .exhibitionMenu li {
    padding: 0 10px;
    line-height: 25px;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border-top: 1px solid #8b8b8b; }
    .ExhibitionsContainer .exhibitionMenu li a {
      display: block;
      width: auto;
      height: auto;
      color: #000;
      padding-left: 10px; }
  .ExhibitionsContainer .exhibitionMenu .menuTitle {
    cursor: inherit;
    padding: 1px 5px;
    background-color: #b8b8b8; }

.ExhibitionsContainer .exhibitionThumbnails {
  height: 120px;
  margin: 5px; }

.ExhibitionsContainer .mainImgeContainer {
  background-color: #dddddd;
  border-radius: 5px; }
  .ExhibitionsContainer .mainImgeContainer .mainImage {
    margin: 10px 0;
    border-radius: 5px; }

.ExhibitionsContainer .exhibitionDetails {
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
  border-radius: 5px; }
