.ExhibitionsContainer .exhibitionMenu {
  padding: 5px; }
  .ExhibitionsContainer .exhibitionMenu li {
    padding: 0 10px;
    line-height: 20px;
    list-style-type: none;
    background-color: white;
    cursor: pointer;
    border-top: 1px solid #8b8b8b; }
    .ExhibitionsContainer .exhibitionMenu li a {
      display: block;
      width: auto;
      height: auto;
      color: #000;
      padding-left: 10px; }
    .ExhibitionsContainer .exhibitionMenu li a:hover, .ExhibitionsContainer .exhibitionMenu li a:focus, .ExhibitionsContainer .exhibitionMenu li a:active {
      background-color: #adadad; }
  .ExhibitionsContainer .exhibitionMenu .menuTitle {
    background-color: #aaaaaa; }

.ExhibitionsContainer .exhibitionThumbnails {
  height: 120px;
  margin: 5px; }

.ExhibitionsContainer .exhibitionDetails {
  text-align: center; }

.ExhibitionsContainer .exhibitionsMenuDropDown {
  margin-bottom: 10px; }
  .ExhibitionsContainer .exhibitionsMenuDropDown ul {
    text-align: center;
    margin-top: 5px; }
