.borderInspect {
  border: 1px solid cyan; }

.container {
  min-width: 360px; }

.aboutUsContainer .logoAboutusHidden {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.aboutUsContainer .bioParagraph {
  padding: 10px 20px; }

.aboutUsContainer .logoAboutus {
  width: 200px;
  margin-top: -40px;
  margin-left: 15px; }
