.borderInspect {
  border: 1px solid cyan; }

.container {
  min-width: 360px; }

.aboutUsContainer .logoAboutusHidden {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.aboutUsContainer .bioParagraph {
  padding: 10px 20px; }

.aboutUsContainer .logoAboutus {
  width: 200px;
  margin-top: -40px;
  margin-left: 15px; }

.artistsMenuContainer {
  max-height: 450px;
  min-width: 200px;
  text-align: left; }
  .artistsMenuContainer .artistsMenu {
    padding: 5px; }
    .artistsMenuContainer .artistsMenu li {
      padding: 5px;
      line-height: 30px;
      list-style-type: none;
      background-color: #b1b1b1;
      cursor: move; }
    .artistsMenuContainer .artistsMenu li:hover {
      background-color: white; }

.artistBio {
  background-color: #d2d4d3;
  padding: 30px; }

.sliderContainer {
  height: 600px; }
  .sliderContainer .carousel {
    height: 600px; }
    .sliderContainer .carousel .slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
  .sliderContainer .carouselIndicators {
    text-align: center; }
    .sliderContainer .carouselIndicators .rn-carousel-indicator {
      text-align: center; }

@media screen and (max-width: 375px) {
  .sliderContainer {
    height: 200px; }
    .sliderContainer .carousel {
      height: 250px; } }

@media screen and (max-width: 420px) {
  .sliderContainer {
    height: 200px; }
    .sliderContainer .carousel {
      height: 300px; } }
