.borderInspect {
  border: 1px solid cyan; }

.container {
  min-width: 360px; }

.centerText {
  text-align: center; }

@media (min-width: 768px) {
  .navbar-nav,
  .navbar-nav li {
    float: none !important;
    text-align: center; }
  .navbar-nav li {
    display: inline-block !important; }
  .navbar-brand {
    padding: 15px !important; }
  .NileArtGalleryMenu .navbar-nav > li {
    /* float: left; */ }
  a {
    width: 100px; }
  a:hover,
  a:focus,
  a:active {
    text-decoration: none !important;
    background-color: #e7e7e7 !important; }
  .navHeader {
    width: 100%;
    text-align: center;
    height: 55px;
    line-height: 55px; } }

.aboutUsContainer .logoAboutusHidden {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.aboutUsContainer .bioParagraph {
  padding: 10px 20px; }

.aboutUsContainer .logoAboutus {
  width: 200px;
  margin-top: -40px;
  margin-left: 15px; }

.storeImage {
  height: 200px;
  width: auto;
  border-radius: 5px; }

.artistsMenuContainer .artistsMenu {
  padding: 5px;
  margin-right: 50px; }
  .artistsMenuContainer .artistsMenu li {
    padding: 0 10px;
    line-height: 20px;
    list-style-type: none;
    background-color: white;
    cursor: pointer;
    border-top: 1px solid #8b8b8b; }
  .artistsMenuContainer .artistsMenu li:hover, .artistsMenuContainer .artistsMenu li:focus, .artistsMenuContainer .artistsMenu li:active {
    background-color: #adadad; }

.artistBio {
  background-color: #d2d4d3;
  padding: 30px; }
  .artistBio .artistImg {
    height: 120px;
    border: 5px solid #989898;
    border-radius: 5px; }
  .artistBio .imgBackLine {
    margin: 0;
    padding: 0;
    position: relative;
    top: 65px;
    border-width: 3px;
    border-color: #989898; }
  .artistBio .nameUnderLine {
    margin: 0;
    padding: 0;
    border-width: 2px;
    border-color: red; }

.sliderContainer {
  height: 600px; }
  .sliderContainer .carousel {
    height: 600px; }
    .sliderContainer .carousel .slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
  .sliderContainer .carouselIndicators {
    text-align: center; }
    .sliderContainer .carouselIndicators .rn-carousel-indicator {
      text-align: center; }

@media screen and (max-width: 375px) {
  .sliderContainer {
    height: 200px; }
    .sliderContainer .carousel {
      height: 250px; } }

@media screen and (max-width: 420px) {
  .sliderContainer {
    height: 200px; }
    .sliderContainer .carousel {
      height: 300px; } }

.ExhibitionsContainer .exhibitionMenu {
  list-style-type: none;
  padding: 0; }
  .ExhibitionsContainer .exhibitionMenu li {
    line-height: 60px;
    border: 1px solid red; }
  .ExhibitionsContainer .exhibitionMenu .menuTitle {
    background-color: #aaaaaa; }
  .ExhibitionsContainer .exhibitionMenu li:hover {
    background-color: #aaaaaa; }

.ExhibitionsContainer .exhibitionThumbnails {
  height: 120px;
  margin: 5px; }

.ExhibitionsContainer .exhibitionDetails {
  text-align: center; }

.ExhibitionsContainer .exhibitionsMenuDropDown {
  margin-bottom: 10px; }
  .ExhibitionsContainer .exhibitionsMenuDropDown ul {
    text-align: center;
    margin-top: 5px; }
