.imageContainer {
  height: 400px; }
  .imageContainer .storeImage {
    height: 250px !important;
    width: auto;
    border-radius: 5px;
    margin-top: 15px; }

.imageContainer:hover {
  background-color: #f8f8f8; }
