<div class="container aboutUsContainer borderInspect">

<div class="row borderInspect">
  <div class="col-xs-12">
    <img class="visible-xs visible-sm logoAboutusHidden img-rounded" src="images/logo.png" alt="Nile Art Gallery Logo"/>
  </div>
</div>
  <div class="row borderInspect">
    <div class="col-xs-12 col-md-8 col-md-offset-3 col-lg-9 col-lg-offset-3 borderInspect">
      <p class="bioParagraph">
        Nile Gallery is a personal initiative instigated by founder and director visual artist Rasha El Agroudy, PhD*, with other personalities from the art, culture and patrons milieus who are concerned with the current creative practices in Egypt.
      </p>
    </div>
  </div>

  <div class="row borderInspect">
    <div class="col-xs-12 col-md-8 col-md-offset-3 col-lg-9 col-lg-offset-3 borderInspect">
      <p class="bioParagraph">
        Nile Gallery was born in 2010 as an idea, concretized in 2014. The idea started in 2009 with the creation of Tazyeen Foundation for Community Development, an initiative aiming at developing certain communities that are underserved in art and culture. After a year and several workshops, the need arose to create an exhibition space that would host professional and superb quality art, and making it accessible to all strata of the community through curated exhibitions and printed documentation of the diversity of practices hosted by this space.
      </p>
    </div>
  </div>

  <div class="row borderInspect">
    <div class="col-xs-12 col-md-8 col-md-offset-3 col-lg-9 col-lg-offset-3 borderInspect">
      <p class="bioParagraph">
        While confined within a number of white walls and spreading over one hundred and fifty square meters, the gallery's planned role reaches far beyond numeric parameters of this inspiring location** overlooking the Nile, the famed river from which it draws the name and which witnessed over 5000 years of Egypt's vibrant cultural history. Located in Zamalek, a Cairo's district pounding with community particularly receptive to art and culture, Nile Gallery's mission is to display art of exquisite quality for artists who are committed and passionate about their careers. Nile Gallery is a hub engaging with individuals exploring Egyptian creative practices. Nile Gallery aims to become a nucleus in redefining the understanding of the exhibition spaces and the curatorial vocation of its founders and guest curators.
      </p>
    </div>
  </div>

  <div class="row borderInspect">
    <div class="col-xs-12 col-md-8 col-md-offset-3 col-lg-9 col-lg-offset-3 borderInspect">
      <p class="bioParagraph">
        On the long run, Nile Gallery aims at becoming a dynamic cultural platform ,establishing palpable ties between artists and audiences. Nile gallery works to revalidate the existing values of modern and contemporary Egyptian art coming from established experienced artists, as well as discovering, nurturing and developing the practices of budding artists through all forms of available support. Bridging with Arab, African and international art practices through curated shows constitute a paramount part in the gallery’s program pipeline within the first three years.
      </p>
    </div>
  </div>

  <div class="row borderInspect">
    <div class="hidden-xs col-md-3 col-lg-3 borderInspect">
      <img class="hidden-xs hidden-sm logoAboutus img-rounded" src="images/logo.png" alt="Nile Art Gallery Logo"/>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-9 borderInspect">
      <p class="bioParagraph">
        * Rasha Al-Agroudy is Assistant Professor of Painting at the Faculty of Fine Arts, Alexandria University.
      </p>
      <p class="bioParagraph">
        ** The gallery occupies the apartment of the legendary Egyptian filmmaker Shady Abdel Salam (1930-1986), in which he created the sketched for his famous artistic direction of the famous three films Wa Islamah, El-Nasser Salah El-Din, Almaz wa Abdu El Hamouly, as well his own written and directed films AL Mumia and AL Fallah al Faseeh. It is also claimed that this apartment was an important location where he wrote, drew and designed props of the best parts of his unfulfilled project Akhenaton, aka The Tragedy of the Great House.
      </p>
    </div>
  </div>

</div>
