<div class="container ExhibitionsContainer" ng-controller="ExhibitionsController">
  <div class="row">
    <!-- exhibition menu -->
    <div class="col-md-3 hidden-xs hidden-sm">
      <ul  class="exhibitionMenu">
        <li class="menuTitle"><h5>Current</h5></li>
        <li ng-repeat="exhibition in ExhibitionsCurrent" ng-click="showExhibitionCurrent($index); hideDefaultExhibition();"><a href="">{{exhibition.creator}}</a></li>
        <li class="menuTitle"><h5>Past</h5></li>
        <li ng-repeat="exhibition in Exhibitions" ng-click="showExhibition($index); hideDefaultExhibition();"><a href="">{{exhibition.creator}}</a></li>
      </ul>
    </div>
    <!-- Exhibitions menu for small devices only -->
    <div class="col-xs-12 visible-xs visible-sm exhibitionMenu">
      <div class="dropdown">
        <button class="btn btn-default btn-block dropdown-toggle" type="button" id="exhibitionDropdwounMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Exhibitions
          <span class="caret"></span>
        </button>
       <!--  <ul class="dropdown-menu col-xs-12" aria-labelledby="exhibitionDropdwounMenu">
          <li ng-repeat="exhibition in Exhibitions" ng-click="showExhibition($index); hideDefaultExhibition();">{{exhibition.creator}}</li>
        </ul>  -->   
        <ul  class="dropdown-menu col-xs-12" aria-labelledby="exhibitionDropdwounMenu">
          <li class="menuTitle"><h5>Current</h5></li>
          <li ng-repeat="exhibition in ExhibitionsCurrent" ng-click="showExhibitionCurrent($index); hideDefaultExhibition();"><a href="">{{exhibition.creator}}</a></li>
          <li class="menuTitle"><h5>Past</h5></li>
          <li ng-repeat="exhibition in Exhibitions" ng-click="showExhibition($index); hideDefaultExhibition();"><a href="">{{exhibition.creator}}</a></li>
        </ul>
      </div>
    </div>
    <!-- END exhibition menu -->

    <!-- Default main exibition image -->
    <div class="col-xs-12 col-md-5 borderInspect" ng-show="showDefaultExhibition">
      <img ng-src="{{ExhibitionsCurrent[0].mainImage}}" class="img-responsive mainImage" alt=""/>
    </div>
    <!-- END Default main exibition image -->

    <!-- exhibition main images -->
    <div class="col-xs-12 col-md-5 borderInspect" ng-hide="showDefaultExhibition">
      <img ng-src="{{mainImage}}" class="img-responsive mainImage" alt=""/>
    </div>
    <!-- END exhibition main images -->

    <!-- Default  exibition details view -->
    <div class="col-xs-12 col-md-4 exhibitionDetails" ng-show="showDefaultExhibition">
      <div class="row">
        <div class="col-xs-12">
          <p>
            {{ExhibitionsCurrent[0].name}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            by
          </p>
          <p>
            {{ExhibitionsCurrent[0].creator}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            {{ExhibitionsCurrent[0].date | date}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img ng-src="{{img}}" ng-repeat="img in ExhibitionsCurrent[0].images" class="img-rounded exhibitionThumbnails" alt=""/>
        </div>
      </div>
    </div>
    <!--END Default  exibition details view -->

    <!-- exibition details dynamic view -->
    <div class="col-xs-12 col-md-4 exhibitionDetails" ng-show="!showDefaultExhibition">
      <div class="row">
        <div class="col-md-12">
          <p>
            {{name}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            by
          </p>
          <p>
            {{creator}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            {{date | date}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img ng-src="{{img}}" ng-repeat="img in images" class="img-rounded exhibitionThumbnails" alt=""/>
        </div>
      </div>
    </div>
    <!--END exibition details -->

  </div>
  <!-- End main row -->
</div>
<!-- END container -->
