<div class="sliderContainer fullHeight">
  <div class="container" ng-controller="HomeController">
    <div class="row sliderRow">
      <div class="col-xs-12 slidrCol">
        <div class="sliderDiv fullHeight">
          <!-- <ul rn-carousel="" rn-carousel-controls="" rn-carousel-index="carouselIndex2" rn-carousel-auto-slide="" rn-carousel-pause-on-hover="" rn-carousel-buffered="" class="carousel"> -->
          <ul rn-carousel="" rn-carousel-index="carouselIndex2" rn-carousel-auto-slide="" rn-carousel-pause-on-hover="" rn-carousel-buffered="" class="carousel">
            <li>
              <img src="images/Slides/Nagy-Farid.jpg" class="img-responsive" alt=""/>
            </li>
            <li>
              <img src="images/Slides/Noha-Nagui.jpg" class="img-responsive" alt=""/>
            </li>
            <li>
              <img src="images/Slides/Salah El Meligy.jpg" class="img-responsive" alt=""/>
            </li>
            <li>
              <img src="images/Slides/Suheil-Baddour.jpg" class="img-responsive" alt=""/>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
